.textfieldcounter_yellow {
    background-color: #fff7b1 !important;
    background-image: none !important;
}

.textfieldcounter_red {
    background-color: #ffb5ae !important;
    background-image: none !important;
}